body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    margin-top: 40px;
    height: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#notification {
    margin: 20px 0;
    color: green;
    font-weight: bold;
    display: none;
}

#compressButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#downloadLink {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}